*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Satoshi-Light";
  src: url("./fonts/Satoshi-Light.woff2") format("woff2"),
    url("./fonts/Satoshi-Light.woff") format("woff"),
    url("./fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Sentient-Extralight";
  src: url("./fonts/Sentient-Extralight.woff2") format("woff2"),
    url("./fonts/Sentient-Extralight.woff") format("woff"),
    url("./fonts/Sentient-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

html {
  color: black;
  font-family: Satoshi-Light, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  padding: 15px 25px 15px 15px;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

h2 {
  font-family: inherit;
  position: relative;
  left: 0px;
}

h3,
h4,
h5 {
  font-family: inherit;
  position: relative;
  left: 20px;
}

h1 {
  font-family: Sentient-Extralight, Garamond, Georgia, "Times New Roman", Times,
    serif;
}

a {
  color: maroon;
}

a:hover {
  color: navajowhite;
  background-color: maroon;
}

a:active {
  color: navajowhite;
  background-color: darkslategray;
}

ul {
  list-style-type: square;
}

::selection {
  background-color: darkslategray;
  color: white;
}

.greenheader {
  text-align: center;
  padding: 60px;
  background-color: darkslategray;
  color: gainsboro;
  position: relative;
}

.aside-hireme {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: hotpink;
  color: black;
  text-align: center;
  border-radius: 7px;
  padding: 8px;
}

.greenheaderlink {
  color: gainsboro;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.greenheaderp {
  padding: 20px;
}

.greenheaderp::after {
  content: " 📷";
}

.greenheaderlink:hover {
  color: darkslategray;
  background-color: navajowhite;
}

.greenheaderlink:active {
  color: gainsboro;
  background-color: maroon;
}

article {
  padding-bottom: 30px;
}

article + article {
  border-top: 3px solid darkslategray;
}

.experience-heading {
  display: inline-block;
  position: relative;
  left: 20px;
}

.experience-subheading {
  display: inline-block;
  position: relative;
  left: 20px;
}

.pbodyindent {
  position: relative;
  left: 20px;
  max-width: 670px;
}
